<% include ./partials/header.ejs %>

   
    <div class="container d-flex" style="height: 100vh; display: flex;align-items: center;justify-content: center;">
      <form action="/register" method="post">
        <h1>Register</h1>
        <hr>
        <div class="mb-3 d-flex" style="flex-direction: column;">
          <label for="exampleInputEmail1" class="form-label">Username :</label>
          <input type="text" id="inpt" name="username"  >
          <p id="txt" style="color: red;display: none;font-weight: 100;font-size: 13px;">Username already exist.</>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" name="name"  aria-describedby="emailHelp">
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button id="btn" type="submit" class="btn btn-primary">Submit</button>
        <a href="/login" class="btn btn-primary">login</a>
      </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

      var inpt = document.querySelector("#inpt");
      var btn = document.querySelector("#btn");
      var txt = document.querySelector("#txt");


      inpt.addEventListener("input",function(){




        if(inpt.value.trim().length>0){

          axios.get(`/found/${inpt.value}`).then(function(data){
          if(data.data.found){
             inpt.style.outlineColor = "red";
             txt.style.display = "contents";
             btn.disabled = true;
          }
          else{
            inpt.style.outlineColor = "green";
            txt.style.display = "none";
            btn.disabled = false;

          }
        })

        }

        else{
          inpt.style.outlineColor = "black";

        }
     
         

        
       


      })
       

    </script>
     
    <% include ./partials/footer.ejs %>
